<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hupu.dao.UserInfoDAO">

	<resultMap type="UserInfoDTO" id="userInfoMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="cellphone" column="cellphone" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="insertUserInfo" parameterType="UserInfoDTO"
		useGeneratedKeys="true" keyProperty="id">
		insert into user_info (name,
		gender, cellphone, create_time, update_time, status) values (#{name},
		#{gender}, #{cellphone}, now(), now(), 1)
	</insert>

	<select id="queryUserInfo" parameterType="int" resultMap="userInfoMap">
		select
		id, name, gender, cellphone, create_time, update_time, status from
		user_info where status>0 and id=#{id}
	</select>

	<select id="queryUserInfoByPhone" parameterType="String" resultMap="userInfoMap">
		select
		id, name, gender, cellphone, create_time, update_time, status from
		user_info where status>0 and cellphone=#{cellphone}
	</select>

</mapper>