<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 放在这边是全局的application的注入 -->
	<context:component-scan base-package="com.hupu" />
	<mvc:annotation-driven />

	<context:property-placeholder location="classpath:dbconfig.properties" />

	<!-- 配置c3p0 bean配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${db.driver}"></property>
		<property name="jdbcUrl" value="${db.url}"></property>
		<property name="user" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
		<property name="initialPoolSize" value="${db.initPoolSize}"></property>
		<property name="minPoolSize" value="${db.minPoolSize}"></property>
		<property name="maxPoolSize" value="${db.maxPoolSize}"></property>
		<property name="maxIdleTime" value="${db.maxIdleTime}"></property>
		<property name="acquireIncrement" value="${db.acquireIncrement}"></property>
		<property name="acquireRetryAttempts" value="${db.acquireRetryAttempts}"></property>
		<property name="preferredTestQuery" value="${db.preferredTestQuery}"></property>
		<property name="testConnectionOnCheckin" value="${db.testConnectionOnCheckin}"></property>
		<property name="testConnectionOnCheckout" value="${db.testConnectionOnCheckout}"></property>
		<property name="idleConnectionTestPeriod" value="${db.idleConnectionTestPeriod}"></property>
		<property name="breakAfterAcquireFailure" value="${db.breakAfterAcquireFailure}"></property>
	</bean>

	<!--事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.hupu.dto" />
	</bean>

	<!-- 注入mapper接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hupu.dao" />
	</bean>

</beans>
